body {
    background: linear-gradient(60deg, rgb(0, 255, 136) 0%, rgb(89, 0, 255) 100%);
    background-attachment: fixed;
    overflow-x: hidden;
    
    -webkit-touch-callout: none; /* Отключает меню iOS */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */    
}
  .d1{
 width: 1352px;
 height: 110px;
 background: rgba(255, 255, 255, 0.589);
 margin-left: -10px;
 margin-top: -10px;
  }
  .d2{
 width: 800px;
 height: 500px;
 margin: auto;
 margin-top: 50px;
 border-radius: 10px;
 box-shadow: 0px 0px 30px rgba(78, 78, 78, 0.993);
 background: linear-gradient(170deg,rgba(255, 255, 255, 0.637) 0%, rgba(84, 255, 4, 0.459) 100%);
  }
  .p1{
    color: rgb(255, 255, 255);
    padding-left: 190px;
    padding-top: 150px;
    font-size: 50px;
    text-shadow: 0px 0px 40px #ffffff;  
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 1.7px black;
  }
  .b1{
    position: relative;
    display: inline-block;
    margin-left: 550px;
    margin-top: 50px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(0, 60, 255);
    background-color:#f1ecffb6;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid rgb(0, 60, 255);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 rgb(0, 60, 255);
  }
  
  .b1:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 rgb(0, 60, 255);
  }
  
  .b1:active {
    transform: scale(0.9);
  }

  .b2 {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;  
}
  
  .b2 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .b2 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .b2:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .b2:hover svg {
    transform: translateX(1.0em) rotate(45deg) scale(1.1);
  }
  
  .b2:hover span {
    transform: translateX(3em);
  }
  
  .b2:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  .v1{
 width: 280px;
 height: 350px;
 margin-top: 70px;
 margin-left: 250px;
 position: absolute;
 border-radius: 10px;
 background-color: rgba(255, 255, 255, 0.438);
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 box-shadow: 0px 0px 8px rgba(253, 253, 253, 0.993);
  }
  .v2{
  display: none;
  margin-top: -420px;
  margin-left: 510px;
  position: absolute;
  }

.inner {
	width: 90px;
	height: 90px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #333;
    border-radius: 10px;
	margin: 5px;
	cursor: pointer;
	user-select: none;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#win_block {
	display: none;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
#win_block .again{
	font-weight: bold;
	cursor: pointer;
	color: #369;
	border-bottom: 1px solid #369;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#win_block .again:hover{
	border-color: transparent;
	
}


#game {
	position: relative;
}
#game .table{
	/*border: 1px solid red;*/
	display: table;
	
	margin: 0 auto;
	position: relative;
}
#game .table .winning{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,200,0, 0.5);

	position: absolute;
	top: 0;
	left: 0;
}

#game table tr:first-child div {
	margin-top: 0;
}
#game table tr:last-child div {
	margin-bottom: 0;
}
#game table tr td:first-child div {
	margin-left: 0;
}
#game table tr td:last-child div {
	margin-right: 0;
}